{% load i18n static wagtailcore_tags %}
<div id="cookies-eu-banner" class="cookie-banner alert alert-dismissible fade show text-white text-center mb-0 fixed-bottom" role="alert" style="display: none;">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <h5 class="alert-heading">{{ settings.title }} <i class="fa-solid fa-cookie"></i></h5>
    <p class="mb-0 fs-6">{{ settings.text|safe }}</p>
    {% if settings.page %}
    <a id="cookies-eu-more" href="{% pageurl settings.page %}">
        {{ settings.link_text }}
    </a>
    {% endif %}
    <hr>
    <button id="cookies-eu-reject" class="card-link btn btn-sm btn-light">
        {% trans 'Non' as cookie_ko %}
        {{ settings.button_cancel_text|default:cookie_ko }}
    </button>
    <button id="cookies-eu-accept" class="card-link btn btn-sm btn-primary">
        {% trans 'Ok' as cookie_ok %}
        {{ settings.button_accept_text|default:cookie_ok }}
    </button>
</div>
