{% load i18n static wagtailcore_tags %}
{% wagtail_site as current_site %}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="{% static 'folioblog/assets/logo.png' %}" class="rounded me-2" width="32" height="32" alt="Logo - {{ current_site.site_name }}">
            <strong class="me-auto">{{ title|default:current_site.site_name }}</strong>
            <small>{{ timer }}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{% trans 'Fermer' %}"></button>
        </div>
        <div class="toast-body">{{ text }}</div>
    </div>
</div>