__pycache__
*.pyc
*.egg-info

.tox
.coverage
coverage.xml
units.xml
selenium.xml
/htmlcov
geckodriver.log
/docs/_build/
roadmap.txt

.python-version
venv

node_modules

/static/*
!/static/.gitkeep
/media/*
!/media/maintenance

/folioblog/static/*
!/folioblog/static/folioblog

backup.sql

/folioblog/settings/local.py
/folioblog/settings/prod*

.idea
.vscode
.history
