__pycache__
*.pyc
*.egg-info

.tox
.coverage
coverage.xml
units.xml
selenium.xml
/htmlcov
geckodriver.log
/docs/_build/
roadmap.txt

.python-version
.venv
venv
poetry.toml

.env
.env.dev
.env.prod

deploy/deploy.conf.sh

docker/prod/nginx/ssl/certs/*
!/docker/prod/nginx/ssl/certs/.gitkeep

node_modules

/static/*
!/static/.gitkeep
/media/*
!/media/maintenance
/folioblog/static/*
!/folioblog/static/folioblog

/folioblog/settings/local.py

.idea
.vscode
.history
