{% load i18n static wagtailuserbar wagtailcore_tags wagtailimages_tags compress folioblog %}
{% get_current_language as LANGUAGE_CODE %}
{% wagtail_site as current_site %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_CODE|language_bidi %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow, archive">
        <meta name="author" content="{{ current_site.site_name }}">
        {% block meta %}
        <meta name="description" content="{{ page.seo_description}}">
        <title>{{ page.seo_title|default:page.title }}</title>
        {% endblock meta %}
        <!-- OG and Twitter meta -->
        {% block meta_og %}{% og_meta page %}{% endblock %}
        {% block meta_twitter %}{% twitter_card page %}{% endblock %}
        <!-- Favicon-->
        <link href="{% static 'folioblog/assets/favicon.ico' %}" rel="icon" type="image/x-icon">
        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" href="{% url 'rss' %}">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        {# Compress third party #}
        {% compress css file folioblog-contrib %}
        <!-- CSS third party -->
        {% block extra_css_library %}{% endblock %}
        {% endcompress %}
        {# Compress base CSS #}
        {% compress css file folioblog-base %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'cleanblog/css/styles.css' %}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{% static 'folioblog/css/cleanblog.css' %}" rel="stylesheet">
        {% endcompress %}
        <!-- Extra CSS inline -->
        {% block extra_css_inline %}
        {% background_style page.image %}
        {% endblock %}
    </head>

    <body>
        <!-- Cookie banner -->
        {% cookies_banner %}
        {% wagtailuserbar %}
        <!-- Navigation -->
        {% include 'cleanblog/navbar.html' %}
        <!-- Page Header-->
        {% block header %}
        {% include 'cleanblog/header.html' %}
        {% endblock %}
        <!-- Main content -->
        {% block content %}{% endblock %}
        <!-- Footer -->
        {% include 'cleanblog/footer.html' %}
        <!-- Dynamic Javascript -->
        <script src="{% url 'javascript-catalog' %}"></script>
        <!-- JS inline -->
        {{ settings.core.folioblogsettings.google_analytics_id|json_script:'google-analytics-id' }}
        {% block extra_js_inline %}{% endblock %}
        <!-- JS third party -->
        {% compress js file folioblog-contrib %}
        <script src="{% static 'cookies-eu-banner/cookies-eu-banner.js' %}"></script>
        {% block extra_js_library %}{% endblock %}
        {% endcompress %}
        <!-- JS common -->
        {% compress js file folioblog-base %}
        <!-- Fontawesome -->
        <script src="{% static 'fontawesome/js/all.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
        <!-- Core theme JS -->
        <script src="{% static 'cleanblog/js/scripts.js' %}"></script>
        {% endcompress %}
        {% compress js inline %}
        <!-- Extra JS -->
        {% block extra_js %}{% endblock %}
        <!-- GA -->
        <script src="{% static 'core/js/googleanalytics.js' %}"></script>
        <!-- Cookies banner JS -->
        <script src="{% static 'core/js/cookies_banner.js' %}"></script>
        {% endcompress %}
    </body>
</html>
