{% extends "cleanblog/base.html" %}
{% load i18n wagtailcore_tags folioblog %}
{% wagtail_site as current_site %}

{% block robots %}
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
{% endblock robots %}
{% block meta %}{% endblock meta %}
{% block meta_og %}{% endblock %}
{% block meta_twitter %}{% endblock %}
{% block rss %}{% endblock %}

{% block extra_css_inline %}
    {% if settings.core.folioblogsettings.image_password %}
        {% background_style settings.core.folioblogsettings.image_password %}
    {% endif %}
{% endblock %}

{# No navbar too! #}
{% block navbar %}{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>
                            {% trans 'Mot de passe requis' %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <form class="row g-3 justify-content-center" action="{{ action_url }}" method="POST">
                    {% csrf_token %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}

                    <div class="col-8">
                        {% trans "Mot de passe" as text_pwd %}
                        <label class="visually-hidden" for="{{ form.password.id_for_label }}">{{ text_pwd }}</label>
                        <input type="password"
                               class="form-control form-control-lg{% if form.password.errors %} is-invalid{% endif %}"
                               placeholder="{{ text_pwd }}"
                               id="{{ form.password.id_for_label }}"
                               name="{{ form.password.name }}">
                        {% for error in form.password.errors %}
                            <div id="{{ form.password.id_for_label }}" class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-8 text-center">
                        <button type="submit" class="btn btn-primary">{% trans 'Continuer' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{# Just a basic footer #}
{% block footer %}
    <footer>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="small text-center text-muted fst-italic">
                        Copyright &copy; {% now 'Y' %} {{ current_site.site_name }}<br />
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
