{% extends "cleanblog/base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags folioblog %}
{% wagtail_site as current_site %}

{# No meta for this page! #}
{% block meta %}{% endblock meta %}
{% block meta_og %}{% endblock %}
{% block meta_twitter %}{% endblock %}

{% block extra_css_inline %}
    {% image_404 '404-bg' as image_404_bg %}
    {% if image_404_bg %}
        {% background_style image_404_bg %}
    {% endif %}
{% endblock %}

{# No navbar too! #}
{% block navbar %}{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{% trans 'Page introuvable' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="text-center display-4 mt-3">{% trans 'Oups !' %}</h2>
                    <p>{% trans "La page demandée n'existe pas, n'existe plus, ou n'a jamais existé..." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Just a basic footer #}
{% block footer %}
    <footer>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="small text-center text-muted fst-italic">
                        Copyright &copy; {% now 'Y' %} {{ current_site.site_name }}<br />
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}