<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Oups, une erreur s'est produite... Faîtes des tests qui disait !" />
        <meta name="author" content="Yannick Chabbert" />
        <title>Oups, on dirait bien qu'il y a un soucis !</title>
        <link rel="icon" type="image/x-icon" href="/static/maintenance/assets/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style>
            html {
                height: 100%;
            }
            body {
                min-height: 100%;
            }
            .body-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .titles-wrapper {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="page-500-body" class="body-wrapper">
            <div class="titles-wrapper">
                <h1>Oups, on dirait bien qu'il y a un soucis !</h1>
                <h2>Ne vous inquiètez pas, c'est sûrement un "bug normal" qui sera très vite corrigé par... des tests !</h2>
            </div>
        </div>
    </body>
</html>
