#!/bin/bash

BUILD_PATH=
FOLIOBLOG_VERSION=main

# Local
PYTHON_EXECUTABLE=

# Restore (optional)
FOLIOBLOG_BACKUP_HOST=
FOLIOBLOG_BACKUP_PATH_SQL=
FOLIOBLOG_BACKUP_PATH_MEDIA=

# Dev
FOLIOBLOG_UID=
FOLIOBLOG_GID=
# Uncomment to enable it
# FOLIOBLOG_REDIS_LOCATION=redis://redis:6379

# Prod
FOLIOBLOG_SECRET_KEY=
FOLIOBLOG_ADMIN_USERNAME=
FOLIOBLOG_ADMIN_PASSWD=
FOLIOBLOG_EMAIL_HOST_PASSWORD=
