#!/bin/bash

# Directory where to pull project. MUST exists and being absolute.
BUILD_PATH=
FOLIOBLOG_VERSION=

# Local
PYTHON_EXECUTABLE=

# Restore
FOLIOBLOG_BACKUP_HOST=
FOLIOBLOG_BACKUP_PATH_SQL=
FOLIOBLOG_BACKUP_PATH_MEDIA=

# Dev
FOLIOBLOG_UID=
FOLIOBLOG_GID=
# Uncomment to enable it
# FOLIOBLOG_REDIS_LOCATION=redis://redis:6379

# Prod
FOLIOBLOG_RELEASE=
FOLIOBLOG_SECRET_KEY=
FOLIOBLOG_ADMIN_PASSWD=
FOLIOBLOG_EMAIL_HOST_PASSWORD=
