{% extends "agency/base.html" %}
{% load i18n static wagtailcore_tags %}

{% block content %}
    <!-- Services -->
    {% include_block page.services %}
    <!-- Skills -->
    {% include_block page.skills %}
    <!-- CV -->
    {% include_block page.cv_experiences %}
    {% if page.team_active %}
    <!-- Team -->
        {% include_block page.team_members %}
    {% endif %}
    <!-- About -->
    {% include 'portfolio/about.html' %}
    <!-- Contact -->
    {% include 'portfolio/contact.html' %}
{% endblock %}