"""
This template settings file must be copied and renamed to "local.py".

It is imported at the end and is used for:
- local dev
- CI (github actions)

Sensitive data could be collected here because it is NOT INTENTED for production.

It is untracked (git), so feel free to change it how you like!
"""
import os

SECRET_KEY = os.getenv("FOLIOBLOG_SECRET_KEY", "bla-bla-bla")

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": os.getenv("FOLIOBLOG_POSTGRES_DB", "postgres"),
        "USER": os.getenv("FOLIOBLOG_POSTGRES_USER", "postgres"),
        "PASSWORD": os.getenv("FOLIOBLOG_POSTGRES_PASSWORD", "postgres"),
        "HOST": os.getenv("FOLIOBLOG_POSTGRES_HOST", "127.0.0.1"),
        "PORT": os.getenv("FOLIOBLOG_POSTGRES_PORT", 5432),
    }
}

LANGUAGE_CODE = os.getenv("FOLIOBLOG_LANGUAGE_CODE", "fr")
TIME_ZONE = os.getenv("FOLIOBLOG_TIME_ZONE", "Europe/Paris")

redis_location = os.getenv("FOLIOBLOG_REDIS_LOCATION")
if redis_location:
    redis_user = os.getenv("FOLIOBLOG_REDIS_USER", "default")
    redis_password = os.getenv("FOLIOBLOG_REDIS_PASSWORD")

    scheme, location = redis_location.split("://")
    redis_location = f"{scheme}://{redis_user}:{redis_password}@{location}"

    CACHES = {
        "default": {
            "BACKEND": "django.core.cache.backends.redis.RedisCache",
            "LOCATION": redis_location,
            "KEY_PREFIX": os.getenv("FOLIOBLOG_REDIS_KEY_PREFIX", "folioblog"),
            "TIMEOUT": int(os.getenv("FOLIOBLOG_REDIS_TIMEOUT", 86400)),
        },
    }
    CACHE_MIDDLEWARE_SECONDS = int(os.getenv("FOLIOBLOG_CACHE_MIDDLEWARE_SECONDS", 86400))
